:root {
  --bg-color: #121214;
  --primary-color: #202024;
  --secondary-color: #7c7c8a;
  --textarea-input-color: #ddd;

  --blue-color: #38bdf8;
  --orange-color: #fb923c;
}

.light {
  --bg-color: #ebebeb;
  --primary-color: #ccc;
  --secondary-color: #6f6f6f;
  --textarea-input-color: #404044;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bg-color);
}

input,
textarea {
  color: var(--textarea-input-color);
}

button {
  cursor: pointer;
}
