#app header {
  border-bottom: 1px solid var(--primary-color);
  padding: 1rem 2rem;
  color: var(--secondary-color);

  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* Tmp */
/*
#app header h1 {
  color: var(--blue-color);
}

#app header i {
  color: var(--blue-color);
}

#app header #export-notes {
  color: var(--blue-color);
  border-color: var(--blue-color);
}
*/
/* Tmp */

#app #search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#app #search-input {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem;
  width: 25rem;
}

#app #export-notes {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0.25rem;
  color: var(--secondary-color);
  padding: .5rem 1rem;
  transition: all ease .2s;
}
#app #export-notes:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Icons */
#app header i {
  font-size: 1rem;
}

#app #search-container i {
  font-size: 1.5rem;
}